@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

html{
  scroll-behavior:smooth;
}

body{
  background:#0B0B0B;
  color:white;
  font-family:Inter,sans-serif;
}

.custom-spotlight-card{
    background: transparent !important;
}